body {
	background: lightyellow;
}

.container {
	display: block;
	width: 800px;
	border: 1px solid #666;
	margin: 0 auto;
	padding: 15px;
}

.container nav ul{
	list-style: none;
	display: flex;
}

.container nav ul li {
	margin: 20px;
}

.wrapper {
	text-align: center;
}

.error {
	color: red;
	text-align: center;
	background: yellow;
}